{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}  

<style>
    .text{
        font-size: 40px;
        font-family: sans-serif;
        font-weight: bold;
        text-align: center;
        color: #2466ea;
    }
    .position{
        top:11%;
        left:40%;
        width:100px;
        height:40px;
        position:fixed;
    }
    .daftar{
       top:11%;
       left:47%;
       width:100px;
       height:40px;
       position:sticky;
       z-index: 2;
       background:hsl(59, 100%, 77%); 
    }
</style>

<div class = "login">
    
    <h1 class="text">Formulir Registrasi</h1>  

        <form method="POST" class="position">  
            {% csrf_token %}  
            <table class="daftar">  
                {{ form.as_table }}  
                <tr>  
                    <td></td>
                    <td><input type="submit" name="submit" value="Daftar"/></td>  
                </tr>  
            </table>  
        </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li class="position">{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  

{% endblock content %}